##        : P 
##        : R      : DIn
## SNMP   : ID  
## SNMP   : HOST
## SNMP   : USER  (Public)
## SNMP   : M     (ENVIROMUX-1W-MIB::)
## ------------------------------------
record(bo, "$(P)$(R=DIn)$(ID)_Update-Cmd")
{
    field(DESC, "Update DigitalInput$(ID) Readbacks")
    field(ZNAM, "Update")
    field(ONAM, "update")
    field(FLNK, "$(P)$(R=DIn)$(ID)-DESC-RB")
    field(HIGH, "2")
    field( VAL, "1")
    field(PINI, "YES")
}

record(stringin, "$(P)$(R=DIn)$(ID)-DESC-RB")
{
    field(DESC, "Digital Input$(ID) Name")
    field(DTYP, "Snmp")
    field( INP, "@$(HOST) $(USER=public) $(M=ENVIROMUX-1W-MIB::)digInputDescription.$(ID) STRING: 40")
}


## We have to change this to MODBUS instead of Snmp
## in order to keep the consistent way to handle data from E1W

record(ai, "$(P)$(R=DIn)$(ID)-RB_")
{
    field(DESC, "External Sensor $(ID)")
    field(DTYP, "Snmp")
    field(SCAN, "1 second")
    field(PREC, "3")
    field( INP, "@$(HOST) $(USER=public) $(M=ENVIROMUX-1W-MIB::)digInputValue.$(ID) ( 100 i")
}

record(mbbi, "$(P)$(R=DIn)$(ID)-RB")
{
    field(DTYP, "Soft Channel")
    field( INP, "$(P)DigitalInput$(ID)-RB_ CPP")
    field(ZRST, "close")
    field(ZRVL, "0")
    field(ONST, "open")
    field(ONVL, "1")
}
